#!/usr/bin/make -f

SHELL := /bin/bash

override_dh_auto_configure:
	dh_auto_configure -- \
		--prefix=/usr \
		--sysconfdir=/etc \
		--mandir=/usr/share/man \
		--libdir=/usr/lib/x86_64-linux-gnu \
		--enable-gettext \
		--enable-openssl-runtime \
		--extra-cflags="$(CPPFLAGS) $(CFLAGS)" \
		--extra-ldflags="$(LDFLAGS)"

override_dh_auto_build:
	dh_auto_build -- \
		build-shared

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp -- \
		install-gmo \
		install-lib-headers \
		install-lib-so-link \
		install-pkg-config

override_dh_auto_test:

override_dh_auto_clean:

%:
	dh ${@}
